<%= form_for Device.new, :html => { :class => "form-horizontal", :role => "form" } do |f| %>
	<div class="modal-body">
		<div class="form-row">
			<div class="form-group col-md-6">
		    <%= f.label :name, :class => 'col-sm-2 control-label' %>
		  	<%= f.text_field :name, :class => 'form-control', :placeholder => 'Name of the Device' %>
		  </div>

		  <div class="form-group col-md-6">
		    <%= f.label :ip, :class => 'col-sm-2 control-label' %>
		  	<%= f.text_field :ip, :class => 'form-control', :placeholder => 'IP Address' %>
		  </div>
		</div>

	  <div class="form-group">
	    <%= f.label :community, :class => 'col-sm-2 control-label' %>
	    <%= f.text_field :community, :class => 'form-control', :placeholder => 'SNMP Community' %>
	  </div>

	  <div class="form-group">
	    <%= f.label "Frequency (secs)", :class => 'col-sm-2 control-label' %>
	  	<%= f.number_field :frequency, :class => 'form-control', :placeholder => 'Secs.' %>
    </div>
  </div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		<%= f.submit "Save", :class => 'btn btn-primary' %>
	</div>
<% end %>
